.THIS {
}

.THIS.slds-box {
    background-color: #eaf1f8; 
    border: 0px  black;
}

.THIS .slds-border--left {     
    border-left: 5px solid red;
}

.THIS .customRadioCls .slds-form-element__control .slds-radio{
    display : inline-block !important;
}
.THIS.c-container {
    border: 1px solid #d8dde6;
    margin: 0px 0 20px 0;
}